<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Location</th>
      <th>Average Price (PP)</th>
      <th>Average Rating</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% restaurants.forEach(function(r) { %>
      <tr>
        <td><%= r.title %></td>
        <td><%= r.location %></td>
        <td><%= r.price %></td>
        <td></td>
        <td><%= r.img %></td>
        <td><a href="/restaurants/<%= r._id %>">Add Review</a></td>
      </tr>
      <% }); %>
      <thead>
        <tr>
          <br>
          <th>Event</th>
          <th>Location</th>
          <th>Average Price</th>
          <th>Average Rating</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% restaurants.forEach(function(r) { %>
          <tr>
            <td><%= r.title %></td>
            <td><%= r.location %></td>
            <td><%= r.price %></td>
            <td></td>
            <td><%= r.img %></td>
            <td><a href="/restaurants/<%= r._id %>">Add Review</a></td>
          </tr>
          <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
