<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th id="listTwo">Restaurant</th>
      <th id="listTwo">Location</th>
      <th id="listTwo">Average Price (PP)</th>
    </tr>
  </thead>
  <tbody>
    <% restaurants.forEach(function(r) { %>
      <tr>
        <td><%= r.title %></td>
        <td class="locations"><%= r.location %></td>
        <td><%= r.price %></td>
        <td></td>
        <td><a class="addReview" href="/restaurants/<%= r._id %>">Add Review</a></td>
      </tr>
      <% }); %>
      <thead>
        <tr>
          <th id="listThree">Events</th>
          <th id="listThree">Location</th>
          <th id="listThree">Average Price (PP)</th>
        </tr>
      </thead>
      <tbody>
        <% restaurants.forEach(function(e) { %>
          <tr>
            <td><%= e.title %></td>
            <td class="locations"><%= e.location %></td>
            <td><%= e.price %></td>
            <td></td>
            <td><a class="addReview" href="/events/<%= e._id %>">Add Review</a></td>
          </tr>
          <% }); %>
    </tbody>
  </table>

  <h3>Google Maps</h3>
<div id="map"></div>
<script>
  function initMap() {
    var options = {
      zoom: 5,
      center:{lat:47.7511,lng:-120.7401} 
    }

    var map = new google.maps.Map(document.getElementById('map'), options);
    var marker = new google.maps.Marker({
      position:{lat:47.6062,lng:-122.3321},
      map:map,
    });

    var infoWindow = new google.maps.InfoWindow({
      content:'<h3>Google Maps</h3>'
    });

  }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN3zu0xkby1T1SHyWfi8hd2Q4vbZNSzyE&callback=initMap">
  </script>
  
<%- include('../partials/footer') %>
